USE [master]
GO
/****** Object:  Database [2425.BI.DATH_DDS]    Script Date: 12/6/2024 7:28:31 PM ******/
CREATE DATABASE [2425.BI.DATH_DDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'2425.BI.DATH_DDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\2425.BI.DATH_DDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'2425.BI.DATH_DDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\2425.BI.DATH_DDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [2425.BI.DATH_DDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [2425.BI.DATH_DDS]
GO
/****** Object:  Schema [DIM]    Script Date: 12/6/2024 7:28:31 PM ******/
CREATE SCHEMA [DIM]
GO
/****** Object:  Table [DIM].[CATEGORY]    Script Date: 12/6/2024 7:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DIM].[CATEGORY](
	[CategorySK] [int] NOT NULL,
	[CategoryName] [char](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategorySK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DIM].[COUNTY]    Script Date: 12/6/2024 7:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DIM].[COUNTY](
	[CountySK] [int] NOT NULL,
	[CountyFips] [char](5) NULL,
	[CountyName] [char](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CountySK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DIM].[STATE]    Script Date: 12/6/2024 7:28:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DIM].[STATE](
	[StateSK] [int] NOT NULL,
	[StateID] [char](2) NULL,
	[StateName] [char](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StateSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [DIM].[CATEGORY] ([CategorySK], [CategoryName], [CreatedDate], [UpdatedDate]) VALUES (1, N'Good                                              ', CAST(N'2024-11-23T17:26:12.167' AS DateTime), CAST(N'2024-11-23T17:26:12.167' AS DateTime))
INSERT [DIM].[CATEGORY] ([CategorySK], [CategoryName], [CreatedDate], [UpdatedDate]) VALUES (2, N'Hazardous                                         ', CAST(N'2024-11-23T17:26:12.167' AS DateTime), CAST(N'2024-11-23T17:26:12.167' AS DateTime))
INSERT [DIM].[CATEGORY] ([CategorySK], [CategoryName], [CreatedDate], [UpdatedDate]) VALUES (3, N'Moderate                                          ', CAST(N'2024-11-23T17:26:12.167' AS DateTime), CAST(N'2024-11-23T17:26:12.167' AS DateTime))
GO
INSERT [DIM].[COUNTY] ([CountySK], [CountyFips], [CountyName], [CreatedDate], [UpdatedDate]) VALUES (1, N'01001', N'Autauga                                           ', CAST(N'2024-11-23T18:00:51.233' AS DateTime), CAST(N'2024-11-23T20:16:49.420' AS DateTime))
INSERT [DIM].[COUNTY] ([CountySK], [CountyFips], [CountyName], [CreatedDate], [UpdatedDate]) VALUES (2, N'01003', N'Baldwin                                           ', CAST(N'2024-11-23T18:00:51.233' AS DateTime), CAST(N'2024-11-23T20:16:49.427' AS DateTime))
INSERT [DIM].[COUNTY] ([CountySK], [CountyFips], [CountyName], [CreatedDate], [UpdatedDate]) VALUES (3, N'01005', N'Barbour                                           ', CAST(N'2024-11-23T18:00:51.233' AS DateTime), CAST(N'2024-11-23T20:16:49.427' AS DateTime))
GO
INSERT [DIM].[STATE] ([StateSK], [StateID], [StateName], [CreatedDate], [UpdatedDate]) VALUES (1, N'AK', N'Alaska                                            ', CAST(N'2024-11-23T16:59:16.400' AS DateTime), CAST(N'2024-11-23T20:14:34.790' AS DateTime))
INSERT [DIM].[STATE] ([StateSK], [StateID], [StateName], [CreatedDate], [UpdatedDate]) VALUES (2, N'AL', N'Alabama                                           ', CAST(N'2024-11-23T16:59:16.400' AS DateTime), CAST(N'2024-11-23T20:14:34.793' AS DateTime))
INSERT [DIM].[STATE] ([StateSK], [StateID], [StateName], [CreatedDate], [UpdatedDate]) VALUES (3, N'AR', N'Arkansas                                          ', CAST(N'2024-11-23T16:59:16.400' AS DateTime), CAST(N'2024-11-23T20:14:34.793' AS DateTime))
GO
ALTER TABLE [DIM].[CATEGORY] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [DIM].[CATEGORY] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [DIM].[COUNTY] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [DIM].[COUNTY] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [DIM].[STATE] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [DIM].[STATE] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
USE [master]
GO
