USE [2425.BI.DATH_DDS]
GO
/****** Object:  Table [DIM].[DATE]    Script Date: 12/6/2024 8:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DIM].[DATE](
	[DateSK] [int] NOT NULL,
	[Year] [int] NULL,
	[Quarter] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[FullDate] [date] NULL,
	[IsDayLightSaving] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DIM].[PARAMETER]    Script Date: 12/6/2024 8:43:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DIM].[PARAMETER](
	[ParameterSK] [int] NOT NULL,
	[ParameterName] [char](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParameterSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [DIM].[DATE] ([DateSK], [Year], [Quarter], [Month], [Day], [FullDate], [IsDayLightSaving], [CreatedDate], [UpdatedDate]) VALUES (1, 2021, 1, 1, 1, CAST(N'2021-01-01' AS Date), 0, CAST(N'2024-11-23T17:48:36.303' AS DateTime), CAST(N'2024-11-23T17:48:36.303' AS DateTime))
INSERT [DIM].[DATE] ([DateSK], [Year], [Quarter], [Month], [Day], [FullDate], [IsDayLightSaving], [CreatedDate], [UpdatedDate]) VALUES (2, 2021, 1, 1, 2, CAST(N'2021-01-02' AS Date), 0, CAST(N'2024-11-23T17:48:36.303' AS DateTime), CAST(N'2024-11-23T17:48:36.303' AS DateTime))
INSERT [DIM].[DATE] ([DateSK], [Year], [Quarter], [Month], [Day], [FullDate], [IsDayLightSaving], [CreatedDate], [UpdatedDate]) VALUES (3, 2021, 1, 1, 3, CAST(N'2021-01-03' AS Date), 0, CAST(N'2024-11-23T17:48:36.303' AS DateTime), CAST(N'2024-11-23T17:48:36.303' AS DateTime))
GO
INSERT [DIM].[PARAMETER] ([ParameterSK], [ParameterName], [CreatedDate], [UpdatedDate]) VALUES (1, N'CO                                                ', CAST(N'2024-11-23T17:31:51.613' AS DateTime), CAST(N'2024-11-23T17:31:51.613' AS DateTime))
INSERT [DIM].[PARAMETER] ([ParameterSK], [ParameterName], [CreatedDate], [UpdatedDate]) VALUES (2, N'NO2                                               ', CAST(N'2024-11-23T17:31:51.613' AS DateTime), CAST(N'2024-11-23T17:31:51.613' AS DateTime))
INSERT [DIM].[PARAMETER] ([ParameterSK], [ParameterName], [CreatedDate], [UpdatedDate]) VALUES (3, N'Ozone                                             ', CAST(N'2024-11-23T17:31:51.613' AS DateTime), CAST(N'2024-11-23T17:31:51.613' AS DateTime))
GO
/****** Object:  Index [PK__DATE__A4262D7489DD8677]    Script Date: 12/6/2024 8:43:12 PM ******/
ALTER TABLE [DIM].[DATE] ADD PRIMARY KEY NONCLUSTERED 
(
	[DateSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [DIM].[DATE] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [DIM].[DATE] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [DIM].[PARAMETER] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [DIM].[PARAMETER] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
